<!DOCTYPE html>
<html>
<head>
    <title>File Metadata Microservice</title>
</head>
<body>
    <p>Upload a file to view it's filesize.</p>
    <form action="/file-upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="upload">
        <input type="submit" value="Upload">
    </form>
</body>
</html>