<!DOCTYPE html>
<html>
<head>
    <title>File Metadata Microservice</title>
</head>
<body>
    <p>Upload a file to view it's filesize.</p>
    <form>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>